* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0 10%;
}

.container {
  border: 2px solid #a2a2a6;
  padding: 10px;
  margin: 10px auto;
}

.color-container {
  width: 100%;
}

.color-panel {
  display: inline-block;
  width: 32%;
  text-align: center;
  margin: 20px auto;
  min-height: 120px;
  vertical-align: bottom;
}

.darktheme-background {
  background-color: #121212;
  color: #fff;
}

.darktheme-content {
  background-color: #b39ddb;
  color: black;
}

.level1 {
  opacity: 0.95;
}

.level2 {
  opacity: 0.9;
}

.level3 {
  opacity: 0.85;
}

.level4 {
  opacity: 0.8;
}

.font-panel {
  width: 45%;
  display: inline-block;
}

.font-label {
  font-size: 20px;
  text-decoration: underline;
}

.regular {
  font-style: normal;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.roboto {
  font-family: Roboto, sans-serif;
}

.share-tech-mono {
  font-family: "Share Tech Mono", monospace;
}

.lato {
  font-family: Lato, sans-serif;
}

.text-panel h1 {
  font-weight: 700;
  font-size: 32px;
  font-family: Roboto, sans-serif;
}

.text-panel h2 {
  font-weight: 700;
  font-size: 18px;
  font-family: Lato, sans-serif;
}

.text-panel p {
  font-weight: 400;
  font-size: 14px;
  font-family: Lato, sans-serif;
}
